* {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-width: 100%;
  top: 0;
  background-color: #128c7e;
  position: fixed;
  z-index: 1;
  height: 90px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  width: 80%;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 80%;
}

.logo-lung {
}
.logo-scurt {
  display: none;
}
.navbar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 80%;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  align-items: center;
}
.nav-url {
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  color: white;
  text-decoration: none;
}
.language {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.main-container {
  margin: 0 auto;
  max-width: 1440px;
}
.main-split {
  display: flex;
  justify-content: center;

  gap: 20px;
}
.left-side .right-side {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.left-container {
  background: #e7f0e4;
  display: flex;
  padding-top: 200px;
  padding-bottom: 80px;
  position: relative;
  text-align: center;
  align-self: stretch;
  width: 100%;
  vertical-align: middle;
  height: 816px;
}

.right-container {
  background: #fcf2c6;
  display: flex;
  padding-top: 200px;
  padding-bottom: 80px;
  position: relative;
  text-align: center;
  align-self: stretch;
  width: 100%;
  vertical-align: middle;
  height: 816px;
}

.left-continut {
  margin-right: 12px;
  text-align: center;
  width: 100%;
}

.right-continut {
  margin-left: 12px;
  text-align: center;
  width: 100%;
}

.left-header {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 10px;
  padding: 0 2%;
  text-align: center;
}

.right-header {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 10px;
  padding: 0 2%;
  text-align: center;
}

.phones-container {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: baseline;
  gap: 20px;
  padding: 0 5%;
}
.android-container .iphone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.download-link {
  text-decoration: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  background-color: #128c7e;
  border-radius: 40px;
  /* display: inline-block; */
  font-size: 16px;
}
.left-link {
  /* ???? */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* padding: 80px 0 80px 0; */
  vertical-align: middle;
}
.left-link-container {
  box-sizing: border-box;
}
.left-link-container h3 {
  font-size: 20px;
}
.bigsize-link {
  font-size: 20px;
  color: #39b3ed;
  text-decoration: none;
  line-height: 120%;
}

.terms-text p {
  color: #5e5e5e;
  font-size: 16px;
  text-align: center;
}
.terms-text a {
  color: #39b3ed;
  text-decoration: none;
  font-size: 16px;
}

.terms-text a:hover {
  text-decoration: underline;
}

.mac {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.mac img {
  max-width: 50%;
}

.texte {
  box-sizing: border-box;
  color: #5e5e5e;
  text-align: center;
  padding-left: 12%;
  padding-right: 12%;
}
.footer {
  width: 100%;
}

.footer1-container {
  display: flex;
  justify-content: center;
  background-color: #273443;
  padding: 56px 20px;
  margin: 0 auto;
}

.footer1 {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  display: flex;
  max-width: 1050px;
  width: 90%;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 25%;
}
.footer-links h3 {
  padding-bottom: 32px;
  font-weight: 700;
  letter-spacing: 1.7px;
  line-height: 17px;
  font-size: 16px;
}

.f-links {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
  color: white;
  line-height: 25px;
}
.footer2-container {
  display: flex;
  justify-content: center;
  background-color: #1c1e21;
}
.footer2 {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  display: flex;
  max-width: 1050px;
  width: 90%;
  color: white;
  align-items: center;
  padding: 15px;
}

.footer2 a {
  font-size: 16px;
}
.footer2 h4 {
  font-size: 16px;
}
